body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #333;
    line-height: 1.6;

    -webkit-font-smoothing: antialiased;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/* Container ============================================= */
.container {
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
/* Intro =================================================*/
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 820px;

    position: relative;

    width: 100%;
    height: 100vh;
    

    background: #f38a59 url("../img/intro-bg.jpg")
    center no-repeat;
    background-size: cover;
}
.intro__inner {
    margin: 0 auto;

    width: 100%;
    max-width: 880px;

    text-align: center;
}

.intro__suptitle {
    font-family: 'Kaushan Script', cursive;
    font-size: 70px;
    font-weight: 400;
    
    color: #fff;

    margin-bottom: 25px;
}

.intro__title {
    font-family: 'Montserrat', sans-serif;
    font-size: 150px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    color: #fff;
 
}

.intro__title:after{
    content: "";
    display: block;

    height: 3px;
    width: 60px;
    background-color: #fff;

    margin: 60px auto;
    
}
/* Header ===================================================== */
.header {
    width: 100%;
    
    padding-top: 5px;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; 
}

/* Javascript (fixed header)  =================== */

.header.fixed {
    padding-top: 10px;
    padding-bottom: 10px;
    height: auto;
    position: fixed;
    background-color: #eb8b8d;
} 
.header.fixed .header__inner {
    padding-top: 0;
    padding-bottom: 0;

    border-bottom: 0;
}
/* /.Javascript (fixed header) ====================*/

.header__inner {
    display: flex;
    padding: 10px 0;
    justify-content: space-between;
    border-bottom: 1px solid #dfa8a9;
}
.header__logo {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 700;
    
    color: #fff;

    cursor: pointer;
}

.header.fixed {
    
    background-color: #eb8b8d;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    transform: translate3d(0, 0, 0);
}

.header.active {
    background-color: #eb8b8d;
}

.header__inner {
    display: flex;
    justify-content: space-between;

    align-items: center;
    
}

/* Nav =============================================== */
.nav {
    font-size: 14px;
    text-transform: uppercase;
}


.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 20px;

    font-family: 'Montserrat', sans-serif;
    color: #fff;
    text-decoration: none;

    transition: color .1s linear;

    position: relative;
}

.nav__link:after {
    content: "";
    display: block;
    
    width: 100%;
    height: 3px;

    display: none;

    opacity: 0;
    background-color: #fce38a;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .1s linear;
}

.nav__link:hover {
    color: #fce38a;
}

.nav__link:hover:after {
    display: block;
    opacity: 1;
}

.nav__link.active {
    color: #fce38a;
}

.nav__link:hover:after, 
.nav__link.active:after {
    display: block;
    opacity: 1;
}


/* Burger */
.burger {
    display: none;
    padding: 9px 2px;

    background: none;
    border: 0;
    cursor: pointer;
}

.burger:focus {
    outline: 0;
}

.burger__item {
    display: block;
    width: 30px;
    height: 3px;

    background-color: #fff;

    font-size: 0;
    color: transparent;

    position: relative;
}

.burger__item:before,
.burger__item:after {
    content: "";
    height: 100%;
    

    background-color: #fff;

    position: absolute;
    right: 0;
    z-index: 1;
}

.burger__item:before {
    width: 32px;
    top: -8px;
}

.burger__item:after {
    width: 28px;
    bottom: -8px;
}



/* Button ========================*/
.btn {
    display: inline-block;
    vertical-align: top;
    padding: 8px 30px;

    color: #fff;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;

    border: 3px solid #fff;

    text-decoration: none;
    transition: color .1s linear, background .2 linear;

    cursor: pointer;
}

.btn:hover {
    color: #333;
    background-color: #fff;
    
}

/* Slider ================================= */
.slider {
    width: 100%;

    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1; 
}

.slider__inner {
    display: flex;
    justify-content: space-between;
    
}

.slider__item {
    width: 23%;
    padding: 20px 0;

    position: relative;


    border-top: 3px solid #fff;
    opacity: .7;

    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
}

.slider__item.active {
    opacity: 1;
}

.slider__item.active:before {
    content: "";
    display: block;
    width: 50%;
    height: 3px;

    background-color: #f38181;

    position: absolute;
    top: -3px;
    left: 0;
    z-index: 1;
}

.slider__num {
    font-size: 24px;
    font-weight: 700;
}

/* About ================================ */
.section {
    padding: 80px 0;
    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;
}

.section--devices {
    margin-bottom: 40px;
    padding-bottom: 0;

    background: #f5f5f5 url(../img/devices-bg.jpg) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.section--clients {
    background: #f5f5f5 url(../img/clients-bg.jpg) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;

}

.section--gray {
    background-color: #f8f8f8;
}

.section__header {
    width: 100%;
    max-width: 960px;
    margin: 0 auto 40px;

    text-align: center;
    

}
.section__suptitle {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    color: #333333;

}
.section__title {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: #333333;

    text-transform: uppercase;
}

.section__title:after {
    content: "";
    display: block;
    margin: 40px auto;

    width: 60px;
    height: 3px;
    background-color: #f38181;
}
.section__text {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #999999;
}
.section--map {
    background: #999999 url(../img/map-bg.jpg) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

/* About */
.card {
    display: flex;
    flex-wrap: wrap;
    
    justify-content: space-between;
    margin: 80px -15px 0;
}
.card__item {
    width: 33.333333%;
    padding: 0 15px;


}
.card__inner {
    position: relative;
    background-color: #95e1d3;

}
.card__inner:hover .card__img {
    transform: translate3d(-10px, -10px, 0);
}

.card__inner:hover .card__img img {
    opacity: .1;
}
.card__img {
    background: linear-gradient(to bottom, #f38181, #fce38a);

    transition: transform .1s linear;
}
.card__img img {
    display: block;
    max-width: 100%;
    height: auto;
    transition: opacity .1s linear;
}
.card__text {
    width: 100%;

    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    opacity: 0;

    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    transform: translate3d(0, -50%, 0);

    transition: opacity .2s linear;
}
.card__inner:hover .card__text {
    opacity: 1;

}
.card__info {
    margin-top: 20px;
    text-align: center;
}
.card__name {
    font-size: 14px;
    text-transform: uppercase;
    color: #333333;
    font-weight: 700;
    padding-top: 7px;
}
.card__prof {
    font-size: 15px;
    line-height: 1.6;
    font-style: italic;
    font-weight: 300;
    color: #999999;

    padding-top: 7px;
}
/* Statistics ===================================== */
.statistics { 
    background-color: #95e1d3;
}
.stat__info {
    display: flex;
    
    flex-wrap: wrap;
}
.stat__item {
    flex: 1 1 0;
    padding: 70px 25px;

    border-left: #b5eae0 solid 1px;
    text-align: center;
    color: #fff;

    font-family: 'Montserrat', sans-serif;
}
.stat__item:last-child {
    border-right: #b5eae0 solid 1px;
}

.stat__number {
    font-size: 72px;
    font-weight: 700;

    
}
.stat__text {
    padding-bottom: 5px;
    font-size: 14px;
    text-transform: uppercase;
    
}

/* Services ============================= */

.services {
    display: flex;
    flex-wrap: wrap;
}
.services__item {
    width: 33.333333%;
    position: relative;

    padding: 0 35px 30px 85px;
    margin-bottom: 30px;
}

.services__item--border {
    border-bottom: 1px solid #e5e5e5;
}
.services__ico {
    position: absolute;

    top: 4px;
    left: 25px;
    z-index: 1;
}

.services__title {
    font-size: 14px;
    color: #333333;

    text-transform: uppercase;
}

.services__subtitle {
    font-size: 15px;
    line-height: 1.6;

    color: #999999;
}


/* Device */
.devices {
    display: flex;
    justify-content: center;

    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    position: relative;
    
}
.device__img {
    display: block;
}

.device__img--iphone {
    position: absolute;
    bottom: -90px;
    right: -35px;
    z-index: 1;
}

/* What we do ============================= */
.wedo {
    display: flex; 
    flex-wrap: wrap;
    margin: 0 -15px;
}

.wedo__item {
    width: 50%;
    padding: 0 15px;
}

.wedo__img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Accordion =================================*/
.accordion__item {
    border: solid 1px #e5e5e5;
    margin-bottom: 10px;
}
.accordion__item.active
.accordion__header {
    border-bottom-color: #e5e5e5;
}
.accordion__item.active 
.accordion__content {
    display: block;
}

.accordion__item.active 
.accordion__header:after {
    transform: translateY(-50%) rotate(-45deg);
    margin-top: 5px;
}


.accordion__header {
    padding: 15px 40px 15px 65px;
    border-bottom: solid 1px #e5e5e5;

    position: relative;

    cursor: pointer;
}
.accordion__header:after {
    content: "";
    display: block;
    width: 15px;
    height: 15px;

    border-top: solid 2px #cccccc;
    border-right: solid 2px #cccccc;

    position: absolute;
    top: 50%;
    right: 20px;
    z-index: 1;

    transform: translateY(-50%) rotate(135deg);
   

}
.accordion__ico {
    position: absolute;
    top: 50%;
    left: 15px;
    z-index: 1;

    transform: translateY(-50%);
}
.accordion__title {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: #333;
}
.accordion__content {
    display: none;

    padding: 15px 20px;

    font-size: 15px;
    font-style: italic;
    color: #999999;
    font-weight: 300;
}


/* Reviews ================================ */
.reviews {
    position: relative;

}
.reviews .slick-slider {
    padding: 0 110px;
}

.reviews__item {
    padding-left: 255px;
    padding-bottom: 30px;
    position: relative;
}

.reviews__author:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    
    width: 60px;
    height: 3px;
    background-color: #f38181;

}
.reviews__photo {
    display: block;
    width: 210px;
    height: auto;
    position: absolute;
    
    top: 0;
    left: 0;
    z-index: 1;

    border: 3px solid #95e1d3;

    border-radius: 50%;
}
.reviews__text {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-style: italic;
    line-height: 1.5;
    color: #999999;
    font-weight: 300;
}

.reviews__author {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    color: #333333;

}

.slick-arrow {
    font-size: 0;
    color: transparent;
    position: absolute;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);

    cursor: pointer;

    border: 0;
    background: none;
}
.slick-arrow:focus {
    outline: 0;
}
.slick-arrow:after {
    content: "";
    display: block;
    width: 15px;
    height: 15px;

    cursor: pointer;

    border-top: solid 2px #cccccc;
    border-left: solid 2px #cccccc;

    

}
.slick-prev {
    transform: rotate(-45deg);
    left: 0;
}

.slick-next {
    transform: rotate(135deg);
    right: 0;
}



/* Social */
.social {
    display: flex;
    justify-content: center;
}


.social__item {
    width: 60px;
    height: 60px;
    padding: 14px 10px;

    font-size: 30px;

    
    border-right: 1px solid #f38181;
    text-decoration: none;
    color: #f38181;
    background-color: #fce38a;
    line-height: 1;
    transition: background .1s linear, color .1s linear;
    
}
.social__item:last-child {
    border-right: 0;
}
.social__item:hover {
    background-color: #f38181;
    color: #fff;
}

/* Logos =================================*/
.logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 -15px;
}

.logos__item {
    padding: 0 15px;
}
.logos__img {
    display: block;
    width: 100%;
    height: auto;
   
}

/* Works ================================ */
.works {
    display: flex;
    width: 100%;

}

.works__col {
    flex: 1 1 0;
}

.works__item {
    position: relative;
    
    background: linear-gradient(to bottom, #f38181, #fce38a);

    
}
.works__item:hover .works__img {
    opacity: .1;

    
    
}
.works__item:hover .works__info {
    opacity: 1;
}
.works__img {
    display: block;
    max-width: 100%;
    height: auto;
    transition: opacity .1s linear;

}

.works__info {
    width: 100%;
    position: absolute;

    padding: 0 15px;

    top: 50%;
    left: 0;
    z-index: 1;

    transform: translate3d(0, -50%, 0);

    text-align: center;

    opacity: 0;

    transition: opacity .2s linear;

}

.works__title {
    font-size: 14px;
    color: #fff;

    text-transform: uppercase;
    padding-bottom: 10px;
}

.works__text {
    font-size: 15px;
    font-style: italic;
    color: #fff;

    font-weight: 300;

}


/* Clients ================================ */
.clients {
    display: flex;
    flex-wrap: wrap;

    margin-top: 70px;
}
.clients__item {
    width: 50%;
    padding: 0 45px 0 175px;
    position: relative;
    margin-bottom: 60px;
}

.clients__photo { 
    position: absolute;
    top: 0;
    left: 35px;
    z-index: 1;

}

.clients__title {
    font-size: 14px;
    color: #333333;
    font-weight: 700;
    text-transform: uppercase;

    margin-bottom: 10px;
}

.clients__subtitle {
    font-size: 15px;
    font-style: italic;
    font-weight: 300;
    color: #333333;

}

.clients__subtitle:after {
    content: "";
    display: block;
    margin: 20px 0;
    
    width: 60px;
    height: 3px;
    background-color: #f38181;
}

.clients__text {
    font-size: 15px;
    line-height: 1.6;
    color: #999999;

}

/* Blog ==========================*/

.blog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.blog__item {
    width: 31%;
}

.blog__header {
    margin-bottom: 15px;
    position: relative;
    
}
.blog__img {
    display: block;
    width: 100%;
    height: auto;
}

.blog__data {
    position: absolute;

    bottom: 10px;
    left: -10px;
    
    padding: 10px 15px;

    text-align: center;

    background: #95e1d3;
}
.blog_number {
    font-size: 30px;
    color: #fff;
    font-weight: 700;
    line-height: 1;
}
.blog__month {
    font-size: 15px;
    color: #fff;
    font-style: italic;
}
.blog__text:after {
    content: "";
    display: block;

    width: 100%;
    height: 1px;
    background-color: #e5e5e5;

    margin: 20px 0 auto;
}


.blog__title {
    margin-bottom: 10px;
    font-size: 14px;
    color: #333333;
    text-transform: uppercase;

}

.blog__title a {
    color: inherit;
    text-decoration: none;
}
.blog__text {
    font-size: 15px;
    color: #999999;
}
.blog__title a:hover {
text-decoration: underline;
}
.blog__footer {
    padding-top: 15px;

    font-size: 15px;
    font-style: italic;
    color: #999999;
    font-weight: 300;

}

.blog__amount-item {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}
.blog__amount-item i {
    color: #95e1d3;
    margin-right: 4px;
}
/* Map ============================ */
.map {
    font-size: 24px;
    color: #f38181;
    font-weight: 700;
    text-transform: uppercase;

}

.map__title {
    text-align: center;
} 
.map__title:after {
    content: "";
    display: block;
    margin: 20px auto;
    
    width: 60px;
    height: 3px;
    background-color: #f38181;

}

.map__title a {
    color: inherit;
    text-decoration: none;
}


.map__title a:hover {
    text-decoration: underline;

}


/* Footer ================================== */
.footer {
    padding-top: 60px;
    background-color: #f8f8f8;

    
}

.footer__inner {
    padding-bottom: 65px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -15px;
}

.footer__logo {
    font-size: 46px;
    color: #cccccc;
    font-weight: 700;

    margin-bottom: 30px;
}
.footer__text {
    font-size: 15px;
    color: #999999;
    line-height: 1.6;
    margin-bottom: 30px;
}

.footer__social {
    margin-bottom: 30px;
}
.footer__social-header {
    padding-bottom: 15px;

    border-bottom: 1px solid #e5e5e5;
    font-size: 14px;
    color: #333333;
}
.footer__social-header b {
    font-size: 18px;
}
.footer__social-content {
    padding-top: 15px;
    font-size: 15px;
    color: #999999;
    font-style: italic;
    font-weight: 300;
}
.footer__social-content a {
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
    text-decoration: none;

    color: #95e1d3;
    font-size: 18px;
    
}
.footer__col {
    padding: 0 15px;
}

.footer__col--first {
    width: 40%;
}

.footer__col--second {
    width: 29%;
}

.footer__col--third {
    width: 24%;
}

.footer__title {
    font-size: 14px;
    color: #333333;
    text-transform: uppercase;
    margin: 30px 0;
}


/* Subscribe =============================*/
.subscribe {
    display: flex;

    margin-top: 30px;
}
.subscribe__input {
    padding: 12px;

    width: 60%;
    height: 40px;

    border: 1px solid #e7e7e7;
    border-right: 0;

    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    font-style: italic;
    font-weight: 300;
    color: #333;
    
}
.subscribe__input:focus {
    outline: 0;
    border-color: #95e1d3;
}
.subscribe__input::placeholder {
    color: #cccccc;
}

.subscribe__btn {
    padding: 12px 30px;
    height: 40px;
    width: 40%;
    background-color: #95e1d3;

    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.1;
    font-weight: 700;

    border: 0;
    cursor: pointer;

    transition: background .2s linear;
}

.subscribe__btn:hover {
    background-color: #569e91;
}

.subscribe__btn:focus {
    outline: 0;
}


/* Blogs ============================== */
.blogs__item {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.blogs__img {
    width: 120px;
    height: 80px;
}
.blogs__content {
    padding-left: 20px;
}
.blogs__title {
    display: block;
    text-decoration: none; 

    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    line-height: 1.5;
    text-transform: uppercase;
    color: #333333;

}
.blogs__title:hover {
    text-decoration: underline;
}

.blogs__data {
    font-size: 13px;
    font-weight: 300;
    font-style: italic;
    color: #cccccc;
}

/* Instagram ============================== */
.instagram {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 0;

    margin-bottom: 15px;
    
    
}
.instagram__item {
    
    width: 33.333333%;
        
    
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
}

.instagram__item img {
    display: block;
    max-width: 100%;
    height: auto;
    


}
.instagram__subtitle {
    
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    color: #333333;

    text-decoration: none;
}

.instagram__subtitle:hover {
    text-decoration: underline;
}


/* Copyright */ 
.copyright {
    width: 100%;
    text-align: center;
    padding: 25px 0;

    font-size: 14px;
    color: #333333;

    border-top: 1px solid #e5e5e5;
}

.copyright span {
    color: #f38181;
}


@media (max-width: 1230px) {
    /* Intro ================ */
    .intro__suptitle {
        font-size: 65px;
    }

    .intro__title {
        font-size: 140px;
    }

    /* Footer */
    .footer__col--third {
        width: 24%;
    }
    /* Section */
    .section {
        padding: 50px 0;
    }
}

@media (max-width: 1024px) {
    /* Intro */
    .intro {
        min-height: 780px;
    }
    .intro__title:after {
        margin: 35px auto;  
    }  


    /* Footer */
    .footer__col--third {
        width: 29%;
    }
        
}


@media (max-width: 990px) {
    /* Intro ================ */
    .intro__suptitle {
        font-size: 45px;
    }

    .intro__title {
        font-size: 120px;
    }

    .header.fixed {
        padding-top: 0px;
        padding-bottom: 0px;
    }
   /* Card ========================== */
    .card {
        justify-content: center;
        margin-top: 40px;
    }
    .card__item {
        width: 100%;
        max-width: 410px;
        margin-bottom: 20px;
    }

    .card__item:last-child {
        margin-bottom: 0; 
    }

    /* Statistics ========================= */
    .stat__info {
        justify-content: center;
    }

    .stat__item {
        width: 33.33333%;
        flex: none;
        border: 0;
        padding-top: 17px;
        padding-bottom: 17px;
    }
    .stat__item:last-child {
        border: 0;
    }

    /* Services ====================== */
    .services__item {
        width: 50%;
        padding-bottom: 5px;
    }
    .services__item--border {
        border-bottom: 0;
    }

    /* Section */
    .section {
        padding-bottom: 50px;
    }
    /* Reviews */
    .reviews .slick-slider {
        padding: 0 65px;
    }
    .reviews__item {
        padding-left: 200px;
        padding-bottom: 10px;
    }
    .reviews__photo {
        width: 160px;
        top: -10px;
    }
    .reviews__text {
        font-size: 19px;
    }

    /* Clients ===============*/
    .clients {
        max-width: 600px;
        margin: 0 auto;
   
    }
    .clients__item {
        width: 100%;
        margin-bottom: 30px;
    }

    /* Footer */
    .footer {
        padding-top: 30px;
    }
    .footer__inner {
        width: 100%;
        max-width: 700px;
        margin: 0 auto;
        padding-bottom: 20px;

    }
    .footer__col--first {
        width: 100%;
    }
    
    .footer__col--second {
        width: 50%;
    }
    
    .footer__col--third {
        width: 50%;
        max-width: 266px;
    }
}

@media (max-width: 790px) {
    /* Intro ================ */
    .intro {
        min-height: 670px;
    }

    .header {
        padding: 10px 0;

    }
    .nav {
        display: none;
        flex-direction: column; 
        width: 100%;
        
        text-align: left;

        background-color: #eb8b8d;
        position: absolute;
        left: 0;
        top: 100%;
    }

    .nav__link {
        display: block;
        margin: 0;
        padding: 10px 15px;
    }

    .nav.show {
        display: flex;
    }
    
    .intro__suptitle {
        font-size: 35px;
    }

    .intro__title {
        font-size: 103px;
    }

    /* Burger */
    .burger {
        display: block;
    }

    /* Slider ======================== */
    .slider__text {
        display: none;
    }
    
    
    /* Section =========================*/
    .section {
        padding: 20px 0 10px;
    }
    .section__header {
        margin: 0 auto 34px;
    }
    .section__suptitle {
        font-size: 22px;
    }
    .section__title {
        font-size: 27px;
    }
    .section__title:after {
        margin: 25px auto;
    }

    .section--devices {
        padding-bottom: 0;
    }

    /* Services ====================== */
    .services {
        justify-content: center;
    }
    .services__item {
        width: 100%;
        max-width: 400px;
        padding-left: 60px;
        padding-right: 0;
        margin-bottom: 15px;
    }
    .services__ico {
        left: 5px;
    }

    
    /* Wedo ================== */
    .wedo__img { 
        display: none;
    }

    .wedo__item {
        width: 100%;
    }

    /* Works =================== */
    .works {
        flex-wrap: wrap;
    }
    .works__col {
        flex: none;
        width: 50%;
        padding-right: 0;
    }

    /* Blog ===================== */
    .blog {
        flex-wrap: wrap;
        max-width: 380px;
        margin: 0 auto;

    }
    .blog__item {
        width: 100%;
        margin-bottom: 20px;
    }

    .blog__item:last-child {
        margin-bottom: 0;
    }


    .footer__col {
        padding-left: 0;
    }
  
}


@media (max-width: 680px) {
    /* Intro ================ */
    .intro__suptitle {
        font-size: 25px;
    }

    .intro__title {
        font-size: 85px;
    }

    /* Statistics =============*/
    .stat__item {
        width: 100%;
        border-bottom: 2px solid #b5eae0;
    }
    .stat__item:last-child {
        border-bottom: 0;
    }

    /* Devices ===============*/
    .devices {
        display: block;
        width: 100%;
        max-width: 400px;
    }
    .device__img {
        max-width: 300px;
    }

    .device__img--iphone {
        max-width: 160px;
        bottom: -60px;
        right: -5px;
    }

    /* Reviews ================ */
    .reviews__photo {
        position: static;
        margin: 0 auto 20px;
    }
    .reviews__item {
        padding-left: 0;
    }
    .reviews__text {
        font-size: 15px;
    }
    .reviews__author {
        font-size: 19px;
    }
    

}

@media (max-width: 585px) {
    
    .intro__suptitle {
        font-size: 18px;
    }

    .intro__title {
        font-size: 69px;
    }

    /* Section ================== */
    .section__header {
        margin: 0 auto 30px;
    }
    .section__suptitle {
        font-size: 20px;
    }
    .section__title {
        font-size: 23px;
    }
    .section__title:after {
        margin: 20px auto;
    }
    
    
    /* Devices =============== */
    .devices {
        max-width: 325px;
    }
    .device__img {
        max-width: 270px;
    }

    .device__img--iphone {
        max-width: 145px;
        bottom: -60px;
        right: -15px;
    }

    .wedo__item {
        width: 100%;
    }

    /* Logos */
    .logos {
        flex-wrap: wrap;
    }

    .logos__item {
        width: 33.33333%;
        margin-bottom: 20px;
    }

    .logos__img {
        margin: 0 auto;
    }
    
    /* Blogs */
    .blogs__item {
        margin-bottom: 15px;
    }
    /* Footer */

    .footer__col--second {
        width: 100%;
    }
    
    .footer__col--third {
        text-align: center;
        width: 100%;
        margin: 0 auto;
        padding: 0;
        
    }

    .footer__title {
        text-align: center;
        margin: 20px 0;
    }

    .subscribe__btn {
        padding: 12px 5px;
    }

}


@media (max-width: 420px) {
    /* Intro ================ */
    .intro {
        min-height: 580px;
    }
    .intro__suptitle {
        font-size: 18px;
    }

    .intro__title {
        font-size: 53px;
    }

    /* Statistics */
    .stat__item {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .stat__number {
        font-size: 50px;
    }
    .stat__text {
        padding-bottom: 10px;
        font-size: 13px;
    }
    /* Devices =============== */
    .devices {
        max-width: 310px;
    }
    .device__img {
        max-width: 250px;
    }

    .device__img--iphone {
        max-width: 135px;
        bottom: -60px;
        right: -15px;
    }

    /* Clients ================ */
    .clients__item {
        padding-left: 0;
        padding-right: 0;
        text-align: center;
    }
    .clients__photo {
        position: static;

    }
    .clients__subtitle:after {
        margin: 20px auto;
    }

    /* Footer ================ */
    .footer__social-content a {
        margin-left: 10px;
    }


    .subscribe {
        flex-wrap: wrap;
    }
    .subscribe__input {
        border-right: 1px solid #e7e7e7;
        width: 100%;
    }

    .subscribe__btn {
        margin-top: 15px;
        width: 100%;
    }

    /* Blogs */
    

    .blogs__img {
        width: 100px;
        height: auto;
    }
    .blogs__title {
        font-size: 10px;
    }
    .blogs__data {
        font-size: 10px;
    }


}

@media (max-width: 320px) {
    /* Intro ================ */
    .intro__suptitle {
        font-size: 18px;
    }
    
    .intro__title {
        font-size: 45px;
    }
    /* Devices =============== */
    .devices {
        max-width: 290px;
    }
    .device__img {
        max-width: 240px;
    }
    .device__img--iphone {
        max-width: 130px;
        bottom: -50px;
        right: -15px;
    }
    
    /* Reviews */
    .reviews .slick-slider {
        padding: 0 10px;
    }
    .slick-arrow {
        top: 19%;
    }


    /* Logos */
    .logos__item {
        width: 50%;

    }

    /* Works =================== */
    .works__col {
        width: 100%;
    }
    
    /* Footer */
    .subscribe__btn {
        font-size: 12px;
    }

    .subscribe__input {
        font-size: 13px;
    }
    .footer__social-content {
        padding-top: 15px;
        font-size: 14px;
    }
    .footer__social-content a {
        margin-left: 8px;
        font-size: 12px;
    }


    .copyright {
        font-size: 12px;
    }

    

}

